<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) # if the :title object is not empty.%>
       <%= yield(:title) %>
    <% else %>
        Ticketee
    <% end %>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- this flash object is helpful for passing success or failure notifications to the user for more info
     The most common cases are flash[:notice] to pass success notifications and flash[:alert] for failures ones. -->
<% flash.each do |key, value| %> <!-- this is a hash object -->
    <div class="flash" id="<%= key %>">
      <%= value %>
    </div>
<% end %>
<nav>
  <%= link_to "Sign in", new_user_session_path %>
  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path%></nav>
  <% end %>
<h1><%= link_to "Ticketee", root_path %></h1>  <!-- This is the logo that goes in all pages.-->
<%= yield %>
</body>
</html>
